.vs
obj
bin
.vscode
Tools/AutoClient/datapath
.editorconfig
Tools/ArchivistGatewayService/datapath
Tools/EphemeralClient/volumes
Tools/ArchivistWindowsInstaller/Debug
Tools/ArchivistWindowsInstaller/*.dll
Tools/ArchivistWindowsInstaller/*.exe
Tools/ArchivistWindowsInstaller/datadir
